$margin: 25%;
$pink: #f442d4;
$black: #000;
$gray: #dcdce8;
$purple: #453d5e;
$green: #1a9153;

// alternate pink: #eb42f4
// alternate blue: #151189
// alternate gray: #aaafa8

body { background:$gray; font-family: 'Coming Soon', cursive; margin: $margin;
}
h1 {color:$purple;}
h2 {color: $green;}
h3

.Aidan {color:$black;}
.Emery {color:$pink;}
